In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('chase2020.csv')
df.head(10)

,Transaction Date,Post Date,Description,Category,Type,Amount
0,06/04/2020,06/05/2020,APPLE.COM/BILL,Shopping,Sale,-0.99
1,06/01/2020,06/02/2020,NYTIMES,Bills & Utilities,Sale,-16.00
2,06/01/2020,06/02/2020,AT&amp;T*BILL PAYMENT,Bills & Utilities,Sale,-69.00
3,06/01/2020,06/01/2020,Audible*MY0H793W1,Bills & Utilities,Sale,-14.95
4,05/31/2020,06/01/2020,DOORDASH*URBAN PLATES,Food & Drink,Sale,-46.28
5,05/28/2020,05/31/2020,BAAGAN,Food & Drink,Sale,-33.82
6,05/31/2020,05/31/2020,TFK OLO #1015,Food & Drink,Sale,-62.24
7,05/25/2020,05/28/2020,SPROUTS FARMERS MARSSS,Groceries,Return,13.47
8,05/25/2020,05/27/2020,SPROUTS FARMERS MAR,Groceries,Sale,-6.98
9,05/25/2020,05/27/2020,SPROUTS FARMERS MAR,Groceries,Sale,-31.48

In [11]:
personal = df[df['Category'] == 'Personal']

In [13]:
nyt = df[df['Description'] == 'NYTIMES']

In [14]:
nyt

   Transaction Date   Post Date Description           Category  Type  Amount
1        06/01/2020  06/02/2020     NYTIMES  Bills & Utilities  Sale   -16.0
30       05/02/2020  05/03/2020     NYTIMES  Bills & Utilities  Sale   -16.0
63       04/02/2020  04/03/2020     NYTIMES  Bills & Utilities  Sale   -16.0